* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.struct {
  display: flex;
  flex-direction: column;
}

.folder {
  width: 200px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.folder:hover {
  cursor: pointer;
}

.folderName {
  background-color: grey;
  padding: 3px;
  border-radius: 5px;
  width: 60px;
}

.file {
  background-color: green;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 5px;
  width: 120px;
}
